/*******************************
********* APPOINTMENT **********
********************************/

#appointment {
    padding-top: 50px;
}

#appointment h1 {
    text-align: center;
}

#form {
    padding-left: 25px;
    padding-right: 25px;
}