@font-face {
    font-family: Uni_Sans_Thin;
    src: url("Uni Sans Thin.otf");
}

* {
    font-family: Uni_Sans_Thin, serif;
}

body {
    padding-bottom: 1px;
}

html {
    height: 100%;
}

h1, h2, img, p, .section, iframe {
    margin: 0 0 0 0;
    padding: 2%;
    color: #ffffff ;
}

.section {
    padding: 2%;
    margin: 0 5% 5% 5%;
    background: #fe7471;
    min-height: 100%;
}

h1 {
    font-size: 4vw;
    text-align: center;
}

h2 {
    font-size: 3vw;
}

h3 {
    font-size: 2.5vw;
}

p, ul, a, input, textarea, span {
    font-size: 2vw;
}

.error {
    color: red;
}