

body {
    background-image: url("img/bg.png");
    background-size: 25%;
    background-repeat: repeat;
    box-shadow: inset 0 0 0 1000px rgba(255, 0, 0, 0.1);
    min-height: 100%;
}
html {
    height: 100%;
}

h1, h2, img, p, .section, iframe {
    margin: 0 0 0 0;
    padding: 2%;
}

h1 {
    font-size: 4vw;
    text-align: center;
}

h2 {
    font-size: 3vw;
}

h3 {
    font-size: 2.5vw;
}

p, ul, a, input, textarea, span {
    font-size: 2vw;
}