@font-face {
    font-family: Uni_Sans_Thin;
    src: url("Uni Sans Thin.otf");
}

* {
    font-family: Uni_Sans_Thin, serif;
}

body {
    padding-bottom: 1px;
}

html {
    height: 100%;
}

h1, h2, img, p, .section, iframe {
    margin: 0 0 0 0;
    padding: 2%;
    color: #ffffff ;
}

.section {
    padding: 2%;
    margin-bottom: 8%;
    background: #fe7471;
    min-height: 100%;
}

h1 {
    font-size: 4vw;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-thickness: 30%;
}

h2 {
    font-size: 3vw;
    text-decoration-line: underline;
    text-decoration-thickness: 15%;
}

h3 {
    font-size: 2.5vw;
    text-decoration-line: underline;
    text-decoration-thickness: 10%;
}

p, ul, a, input, textarea, span {
    font-size: 2vw;
}

.error {
}

input[type=text], textarea {
    border: 0.25vw white inset;
}

input[type=submit] {
    border: 0.25vw white outset;
}