/*******************************
*********** CONTACT ************
********************************/

#contact {
    padding-top: 50px;
}

#contact h1 {
    text-align: center;
}

#contact p {
    padding-left: 25px;
    padding-right: 25px;
}

#extra_info {
    padding-left: 50px;
    padding-right: 150px;
}

#extra_info img, iframe {
    width: 50%;
    float: left;
}