/*******************************
********** EXTRA INFO **********
********************************/

.row {
    column-count: 2;
}

#business-img {
    width: 100%;
}

#map {
    border:0;
    width: 100%;
}