.row {
    column-count: 2;
}

#intro_p {
    width: 100%;
}

#intro_img {
    width: 100%;
    margin-bottom: 10%;
}

/*******************************
************* ABOUT ************
********************************/

#about {
    clear: both;
}

/*******************************
************* TEAM *************
********************************/

#team_head {
    column-count: 3;
    text-align: center;
}

#team_head img {
    width: 75%;
}

#team_sub {
    column-count: 2;
    text-align: center;
}

#team_sub img {
    width: 35%;
}