/*******************************
************ INTRO *************
********************************/

#intro {
    padding-top: 75px;
}

#intro img {
    padding-left: 25px;
    width: 45%;
    float: left;
}

#intro p {
    padding-left: 25px;
    float: left;
}

/*******************************
************ ABOUT *************
********************************/

#about {
    padding-top: 25px;
    clear: both;
}

#about h1 {
    text-align: center;
}

/*******************************
************* TEAM *************
********************************/

#team_head {
    column-count: 3;
    text-align: center;
}

#team_sub {
    column-count: 2;
    text-align: center;
}