/*******************************
********* NAVIGATION ***********
********************************/

#nav {
    padding-top: 2%;
    padding-bottom: 2%;
    top: 0;
    width: 100%;
    text-align: center;
}
#nav ul{
    display: inline-block;
}

#nav a {
    color: #fe7471;
    text-align: center;
    text-transform: uppercase;
    padding: 2% 2%;
    text-decoration: none;
}

#nav a:hover {
    text-decoration-line: underline;
}

#nav a.active {
    font-weight: bold;
}
