/*******************************
*********** REVIEWS ************
********************************/

#reviews {
    padding-top: 50px;
}

#reviews h1 {
    text-align: center;
}

/*******************************
************ ERROR *************
********************************/

.error {
    color: red;
}