/*******************************
*********** SERVICES ***********
********************************/

#services ul {
    column-count: 2;
}

#services li {
    margin-left: 50px;
}

.services:hover {
    font-weight: bold;
}

#services_tip {
    padding-top: 0;
    padding-bottom: 0;
    font-style: italic;
}

/*******************************
********** CARS_ARRAY **********
********************************/

#cars_section{
    column-count: 10;
}

#cars_section input, #cars_section img {
    width: 100%;
}

.cars_hidden {
    display: none;
}

.cars_show {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}