/*******************************
*********** SERVICES ***********
********************************/

#services {
    padding-top: 50px;
}

#services h1 {
    text-align: center;
}

#services ul {
    column-count: 2;
}

#services h2 {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

#services li {
    margin-left: 50px;
}

/*******************************
*********** CARS_IMG ***********
********************************/

#cars_array img{
    padding-left: 10px;
    padding-right: 10px;
    width: 10%;
}

#cars_section{
    text-align: center;
    display: flex;
    white-space: nowrap;
}
.cars_button {
    width: 10%;
}

#cars_array {
    text-align: center;
}

.services:hover {
    font-weight: bold;
}

/*******************************
*********** UHHHHHHH ***********
********************************/
.cars_hidden {
    display: none;
}

.cars_show {
    animation: taadaa 2s;
}

@keyframes taadaa {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}