/*******************************
*********** SERVICES ***********
********************************/

#services h1 {
    text-align: center;
}

#services ul {
    column-count: 2;
}

/*******************************
*********** CARS_IMG ***********
********************************/

#cars_img img{
    width: 150px;
    height: 150px;
}