#intro img {
    width: 50%;
    height: 50%;
    float: left;
}

#intro p {
    float: left;
}

#about {
    clear: both;
}

#about h1 {
    text-align: center;
}

#team_head {
    column-count: 3;
    text-align: center;
}

#team_sub {
    column-count: 2;
    text-align: center;
}