* {
    font-size: 110%;
}
/*******************************
********* NAVIGATION ***********
********************************/

.nav {
    background-color: rgb(31, 31, 31);
    overflow: hidden;
}

.nav a {
    float: right;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 15px;
    text-decoration: none;
}

.nav a:hover {
    background-color: white;
    color: black;
}

.nav a.active {
    background-color: #FF8080;
    color: white;
}

/*******************************
************ INTRO *************
********************************/

#intro {
    margin-top: 5%;
}

#intro img {
    width: 50%;
    height: 50%;
    float: left;
}

#intro p {
    float: left;
}

/*******************************
************ ABOUT *************
********************************/

#about {
    clear: both;
}

#about h1 {
    text-align: center;
}

/*******************************
************* TEAM *************
********************************/

#team_head {
    column-count: 3;
    text-align: center;
}

#team_sub {
    column-count: 2;
    text-align: center;
}